<!-- fieldset code here -->  
<div class="row mb20">
  <!-- fields go here -->
  <% if can_access_attribute?(:rating) %>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Rating', 'Rating:' %>
            <div class="form-control read-only text-left">
              <%= user_rating.rating %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:user) %>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'User', 'User:' %>
            <div class="form-control read-only text-left">
              <%= user_rating.user %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:movie) %>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Movie', 'Movie:' %>
            <div class="form-control read-only text-left">
              <%= user_rating.movie %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- action list start -->
<!-- action list end -->
