<tr  >
  <!-- table columns here  -->
  <% if can_access_attribute?(:requested_on) %>
    <td class="text-right  ">
      <%= movie_notification.requested_on %>
    </td>
  <% end %>
  <% if can_access_attribute?(:movie_copy) %>
    <td class="text-left  ">
      <%= movie_notification.movie_copy&.decorate&.to_s %>
    </td>
  <% end %>
  <% if can_access_attribute?(:movie_format) %>
    <td class="text-left  ">
      <%= movie_notification.movie_format %>
    </td>
  <% end %>
  <% if can_access_attribute?(:status) %>
    <td class="text-left  ">
      <%= movie_notification.status %>
    </td>
  <% end %>
  <% if can?(:update,  (movie_notification.respond_to?(:object) ? movie_notification.object : movie_notification) ) %>
    <% icon = '<i class="fas fa-pencil-alt" aria-hidden="true"></i>' %>
    <% full_icon = '<i class="fas fa-edit" aria-hidden="true"></i>' %>
    <% form_path = edit_polymorphic_path([:admin, movie_notification], alt_list: 'movie_notification' ) %>
  <% elsif can?(:read,  (movie_notification.respond_to?(:object) ? movie_notification.object : movie_notification) )  %>
    <% icon = '<i class="fas fa-search" aria-hidden="true"></i>' %>
    <% full_icon = '
      <span class="fa-stack">
        <i class="fa fa-search fa-stack-1x"></i>
      </span>' %>
    <% form_path = polymorphic_path([:admin, movie_notification], alt_list: 'movie_notification') %>
  <% end %>
  <td class="minimal">
    <% if can?(:update, (movie_notification.respond_to?(:object) ? movie_notification.object : movie_notification) ) %>
      <%= link_to icon.html_safe, '#', title: 'Edit movie_notification',
                  class: 'index-link modal-btn modal-edit', data: { 'form-url': form_path, alt_list: action_name } %>
    <% end %>
  </td>
  <!-- action buttons start -->
  <!-- action buttons end -->
</tr>
