<!-- fieldset code here -->  
<div class="row mb20">
  <!-- fields go here -->
  <% if can_access_attribute?(:user) %>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'User', 'User:' %>
            <div class="form-control read-only text-left">
              <%= order.user %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:return_due) %>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Return Due', 'Return Due:' %>
            <div class="form-control read-only text-left">
              <%= order.return_due %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:status) %>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Status', 'Status:' %>
            <div class="form-control read-only text-left">
              <%= order.status %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- action list start -->
<!-- action list end -->
