<ul id="gn-menu" class="gn-menu-main">
  <li class="gn-trigger">
    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
    <nav class="gn-menu-wrapper">
      <div class="gn-scroller">
        <ul class="gn-menu">

          <% if can?(:read, User) %>
            <li class="menu-option <%= is_active_controller('users') %>">
              <%= link_to admin_users_path do %>
                <i class="fa fa-fw fa-angle-double-right"></i>
                User
              <% end %>
            </li>
          <% end %>

          <% if can?(:read, Movie) %>
            <li class="menu-option <%= is_active_controller('movies') %>">
              <%= link_to admin_movies_path do %>
                <i class="fa fa-fw fa-angle-double-right"></i>
                Movie
              <% end %>
            </li>
          <% end %>

          <% if can?(:access, :lookups) %>
            <% open_lookups = active_controller?('actors','genres') %>
              <li class="menu-option has-sub <%= active_class(active_controller?('actors','genres')) %>">
                <a class="menu-link d-flex align-items-center"
                  data-bs-toggle="collapse"
                  href="#lookupsMenu"
                  role="button"
                  aria-expanded="<%= open_lookups %>"
                  aria-controls="lookupsMenu">
                  <i class="fa fa-fw fa-angle-double-right me-2"></i>
                  Lookups
                  <span class="caret ms-auto">▾</span>
                </a>

                <ul id="lookupsMenu"
                    class="sub-menu collapse <%= 'show' if open_lookups %>">
                  <% if can?(:read, Actor) %>
                    <li class="<%= active_class(active_controller?('actors')) %>">
                      <%= link_to "Actors", admin_actors_path, class: "sub-link" %>
                    </li>
                  <% end %>
                  <% if can?(:read, Genre) %>
                    <li class="<%= active_class(active_controller?('genres')) %>">
                      <%= link_to "Genres", admin_genres_path, class: "sub-link" %>
                    </li>
                  <% end %>
                </ul>
              </li>
          <% end %>

          <% if can?(:read, Rental) %>
            <li class="menu-option <%= is_active_controller('rentals') %>">
              <%= link_to admin_due_rentals_path do %>
                <i class="fa fa-fw fa-angle-double-right"></i>
                Rental
              <% end %>
            </li>
          <% end %>

        </ul>
      </div>
    </nav>
  </li>

  <li class='header-logo-container'>
    <div class="header-logo d-flex align-items-center justify-content-center" style="height:60px;">
      <%= link_to admin_root_path, class: 'menu-logo d-inline-block' do %>
        <%= image_tag "https://www.mindvision.com.au/wp-content/uploads/2016/10/mv_icon_clear.png",
                      alt: "MindVision Logo",
                      style: "height:40px; width:auto; display:block; margin-top:-5px;" %>
      <% end %>
    </div>
  </li>

  <li class="logout-btn">
    <%= link_to destroy_user_session_path, class: 'codrops-icon codrops-icon-drop', method: :delete do %>
      [<%= current_user.to_s %>] Log Out
    <% end %>
  </li>
</ul>
