<tr id="<%= genre.sortable_id %>" >
  <!-- table columns here  -->
  <% if can_access_attribute?(:name) %>
    <td class="text-left  ">
      <%= genre.name %>
    </td>
  <% end %>
  <% if can_access_attribute?(:active) %>
    <td class="text-left   minimal">
      <%= boolean_label(genre.active, genre.human_active) %>
    </td>
  <% end %>
  <% if can?(:update,  (genre.respond_to?(:object) ? genre.object : genre) ) %>
    <% icon = '<i class="fas fa-pencil-alt" aria-hidden="true"></i>' %>
    <% full_icon = '<i class="fas fa-edit" aria-hidden="true"></i>' %>
    <% form_path = edit_polymorphic_path([:admin, genre], alt_list: 'genre' ) %>
  <% elsif can?(:read,  (genre.respond_to?(:object) ? genre.object : genre) )  %>
    <% icon = '<i class="fas fa-search" aria-hidden="true"></i>' %>
    <% full_icon = '
      <span class="fa-stack">
        <i class="fa fa-search fa-stack-1x"></i>
      </span>' %>
    <% form_path = polymorphic_path([:admin, genre], alt_list: 'genre') %>
  <% end %>
  <td class="minimal">
    <%= link_to('<span class="fa-stack"><i class="fa fa-search fa-stack-1x"></i></span>'.html_safe,
                polymorphic_path([:admin, genre]),
        title: 'Show genre', class: 'index-link') %>
    <% if can?(:update, (genre.respond_to?(:object) ? genre.object : genre) ) %>
      <%= link_to(full_icon.html_safe,
                  edit_polymorphic_path([:admin, genre]),
          title: 'Edit genre',
          class: 'index-link') %>
    <% end %>
    <% if can?(:update, (genre.respond_to?(:object) ? genre.object : genre) ) %>
      <%= link_to icon.html_safe, '#', title: 'Edit genre',
                  class: 'index-link modal-btn modal-edit', data: { 'form-url': form_path, alt_list: action_name } %>
    <% end %>
  </td>
  <!-- action buttons start -->
  <!-- action buttons end -->
</tr>
