<tr  >
  <!-- table columns here  -->
  <% if can_access_attribute?(:name) %>
    <td class="text-left  ">
      <%= actor.name %>
    </td>
  <% end %>
  <% if can_access_attribute?(:gender) %>
    <td class="text-left   minimal">
      <%= actor.gender.respond_to?(:text) ? 
          actor.gender.text : actor.gender.to_s %>
    </td>
  <% end %>
  <% if can?(:update,  (actor.respond_to?(:object) ? actor.object : actor) ) %>
    <% icon = '<i class="fas fa-pencil-alt" aria-hidden="true"></i>' %>
    <% full_icon = '<i class="fas fa-edit" aria-hidden="true"></i>' %>
    <% form_path = edit_polymorphic_path([:admin, actor], alt_list: 'actor' ) %>
  <% elsif can?(:read,  (actor.respond_to?(:object) ? actor.object : actor) )  %>
    <% icon = '<i class="fas fa-search" aria-hidden="true"></i>' %>
    <% full_icon = '
      <span class="fa-stack">
        <i class="fa fa-search fa-stack-1x"></i>
      </span>' %>
    <% form_path = polymorphic_path([:admin, actor], alt_list: 'actor') %>
  <% end %>
  <td class="minimal">
    <%= link_to('<span class="fa-stack"><i class="fa fa-search fa-stack-1x"></i></span>'.html_safe,
                polymorphic_path([:admin, actor]),
        title: 'Show actor', class: 'index-link') %>
    <% if can?(:update, (actor.respond_to?(:object) ? actor.object : actor) ) %>
      <%= link_to(full_icon.html_safe,
                  edit_polymorphic_path([:admin, actor]),
          title: 'Edit actor',
          class: 'index-link') %>
    <% end %>
    <% if can?(:update, (actor.respond_to?(:object) ? actor.object : actor) ) %>
      <%= link_to icon.html_safe, '#', title: 'Edit actor',
                  class: 'index-link modal-btn modal-edit', data: { 'form-url': form_path, alt_list: action_name } %>
    <% end %>
  </td>
  <!-- action buttons start -->
  <!-- action buttons end -->
</tr>
