<!-- fieldset code here -->  
<div class="row mb20">
  <!-- fields go here -->
  <% if can_access_attribute?(:title) %>
    <div class="col-lg-6">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Title', 'Title:' %>
            <div class="form-control read-only text-left">
              <%= movie.title %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:released_on) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Released On', 'Released On:' %>
            <div class="form-control read-only text-left">
              <%= movie.released_on %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:content_rating) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Content Rating', 'Content Rating:' %>
            <div class="form-control read-only text-left">
              <%= movie.content_rating %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row mb20">
  <% if can_access_attribute?(:description) %>
    <div class="col-lg-6">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Description', 'Description:' %>
            <div class="form-control read-only text-left">
              <%= movie.description %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:cover) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Cover', 'Cover:' %>
            <div class="form-control read-only text-left">
              <%= movie.cover %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:active) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Active', 'Active:' %>
            <div class="form-control read-only text-left">
              <%= movie.active %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row mb20">
  <% if can_access_attribute?(:genres) %>
    <div class="col-lg-6">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Genres', 'Genres:' %>
            <div class="form-control read-only text-left">
              <%= movie.genres %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- action list start -->
<!-- action list end -->
