<%= simple_form_for [:admin, @order_movie_copy], remote: true, authenticity_token: true, validate: true,
                    html: { class: "form-horizontal #{ 'edit-form' if @order_movie_copy.persisted? }"  }, data: { 'table-id': '#quick-edit-order_movie_copy-table'  } do |f| %>
  <div class="ibox float-e-margins mvi-form-content">
    <div class="ibox-header">
      <div class="mvi-ibox-title">
        <h3><%= render 'shared/title' %></h3>
      </div>
      <div class="mvi-ibox-buttons">
        <%= link_to '#', class: 'btn btn-sm btn-close pull-right', data: { bs_dismiss: 'modal' } do %>
          Close
        <% end %>
        <%= link_to '#', class: 'btn btn-save modal-submit' do %>
          Save
        <% end %>
        <% unless @order_movie_copy.new_record? %>
          <% if can?(:destroy, @order_movie_copy) %>
            <%= link_to polymorphic_path([:admin, @order_movie_copy]), method: 'delete',
                class: 'btn btn-delete modal-delete', remote: true,
                  data: { confirm: 'Are you sure you want to remove this record?', bs_dismiss: 'modal' } do %>
              Delete
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='ibox-content' data-hook="page-content-container">
      <%= render partial: 'fields', locals: { f: f } %>
    </div>
  </div>
<% end %>
<!-- action buttons start -->
