<div class="ibox">

  <div class="ibox-body">
    <div class="ibox-filters">
      <p class="required-field">
        All fields marked with <span class="red-asterisk">*</span> are required
      </p>
    </div>

    <div class="ibox-content">
      <!-- Row 1: names + gender -->
      <div class="row mb20">
        <% if can_access_attribute?(:first_name) %>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :first_name,
                            label: '<span class="red-asterisk">*</span> First Name'.html_safe,
                            input_html: { class: "form-control", spellcheck: true },
                            readonly: cannot_modify_attribute?(:first_name) %>
              </div>
            </div>
          </div>
        <% end %>

        <% if can_access_attribute?(:last_name) %>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :last_name,
                            label: '<span class="red-asterisk">*</span> Last Name'.html_safe,
                            input_html: { class: "form-control", spellcheck: true },
                            readonly: cannot_modify_attribute?(:last_name) %>
              </div>
            </div>
          </div>
        <% end %>

        <% if can_access_attribute?(:gender) %>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :gender,
                            collection: gender_options, prompt: "Please Select",
                            label: "Gender",
                            input_html: { class: "form-control" },
                            readonly: cannot_modify_attribute?(:gender) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Row 2: address lines -->
      <div class="row mb20">
        <% if can_access_attribute?(:address_line1) %>
          <div class="col-sm-4">
            <%= f.input :address_line1, label: "Address Line 1",
                        input_html: { class: "form-control", spellcheck: true },
                        readonly: cannot_modify_attribute?(:address_line1) %>
          </div>
        <% end %>

        <% if can_access_attribute?(:address_line2) %>
          <div class="col-sm-4">
            <%= f.input :address_line2, label: "Address Line 2",
                        input_html: { class: "form-control", spellcheck: true },
                        readonly: cannot_modify_attribute?(:address_line2) %>
          </div>
        <% end %>
      </div>

      <!-- Row 3: suburb/state/postcode -->
      <div class="row mb20">
        <% if can_access_attribute?(:suburb) %>
          <div class="col-sm-3">
            <%= f.input :suburb, label: "Suburb",
                        input_html: { class: "form-control" },
                        readonly: cannot_modify_attribute?(:suburb) %>
          </div>
        <% end %>

        <% if can_access_attribute?(:state) %>
          <div class="col-sm-3">
            <%= f.input :state, collection: state_options, prompt: "Please Select",
                        label: "State",
                        input_html: { class: "form-control" },
                        readonly: cannot_modify_attribute?(:state) %>
          </div>
        <% end %>

        <% if can_access_attribute?(:postcode) %>
          <div class="col-sm-2">
            <%= f.input :postcode, label: "Postcode",
                        input_html: { class: "form-control" },
                        readonly: cannot_modify_attribute?(:postcode) %>
          </div>
        <% end %>
      </div>

      <!-- Row 4: email / role / active -->
      <div class="row mb20">
        <% if can_access_attribute?(:email) %>
          <div class="col-sm-4">
            <%= f.input :email, as: :email, label: "Email",
                        input_html: { class: "form-control" },
                        readonly: cannot_modify_attribute?(:email) %>
          </div>
        <% end %>

        <% if can_access_attribute?(:role) %>
          <div class="col-sm-3">
            <%= f.input :role, collection: role_options, prompt: "Please Select",
                        label: "Role",
                        input_html: { class: "form-control" },
                        readonly: cannot_modify_attribute?(:role) %>
          </div>
        <% end %>

        <% if can_access_attribute?(:active) %>
          <div class="col-sm-2 d-flex align-items-end">
            <label class="checkbox-inline mt25">
              <%= f.input :active, as: :boolean, label: "Active",
                          input_html: { class: "checkbox" },
                          readonly: cannot_modify_attribute?(:active) %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
