<!-- fieldset code here -->  
<div class="row mb20">
  <!-- fields go here -->
  <% if can_access_attribute?(:first_name) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'First Name', 'First Name:' %>
            <div class="form-control read-only text-left">
              <%= user.first_name %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:last_name) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Last Name', 'Last Name:' %>
            <div class="form-control read-only text-left">
              <%= user.last_name %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:gender) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Gender', 'Gender:' %>
            <div class="form-control read-only text-left">
              <%= user.gender %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row mb20">
  <% if can_access_attribute?(:address_line_1) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Address Line 1', 'Address Line 1:' %>
            <div class="form-control read-only text-left">
              <%= user.address_line_1 %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:address_line_2) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Address Line 2', 'Address Line 2:' %>
            <div class="form-control read-only text-left">
              <%= user.address_line_2 %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:suburb) %>
    <div class="col-lg-2">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Suburb', 'Suburb:' %>
            <div class="form-control read-only text-left">
              <%= user.suburb %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:state) %>
    <div class="col-lg-2">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'State', 'State:' %>
            <div class="form-control read-only text-left">
              <%= user.state %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:postcode) %>
    <div class="col-lg-2">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Postcode', 'Postcode:' %>
            <div class="form-control read-only text-left">
              <%= user.postcode %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row mb20">
  <% if can_access_attribute?(:email) %>
    <div class="col-lg-6">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Email', 'Email:' %>
            <div class="form-control read-only text-left">
              <%= user.email %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row mb20">
  <% if can_access_attribute?(:role) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Role', 'Role:' %>
            <div class="form-control read-only text-left">
              <%= user.role %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:active) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Active', 'Active:' %>
            <div class="form-control read-only text-left">
              <%= user.active %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if can_access_attribute?(:admin) %>
    <div class="col-lg-3">
      <div class="form-group">
        <div class="control-wrapper">
          <div class='input'>
            <%= label_tag 'Admin', 'Admin:' %>
            <div class="form-control read-only text-left">
              <%= user.admin %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- action list start -->
<!-- action list end -->
