<div class="ibox">
  <!-- ibox body -->
  <div class="ibox-body">
    <div class="ibox-filters">
      <p class="required-field">All fields marked with&nbsp;<span class="red-asterisk">*</span>&nbsp;are required</p>
    </div>
    <div class="ibox-content">
      <!-- fieldset code here -->  
      <div class="row mb20">
        <!-- fields go here -->
        <% if can_access_attribute?(:movie) %>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="control-wrapper">
                <%= label_tag 'movie', 'Movie' %>
                <div class="read-only">
                  <%= movie_copy.movie&.decorate&.to_s %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mb20">
        <% if can_access_attribute?(:format) %>
          <div class="col-sm-3">
            <div class="form-group selectdiv">
              <div class="control-wrapper">
                <%= f.input :format,
                  as: :select, collection: select_list(Format.all,
                                         f.object.format, 'enum'), label: '<span></span> Format'.html_safe,
                  input_html: { class: ' select2 form-control'  },
                  readonly: cannot_modify_attribute?(:format) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:copies) %>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :copies, label: '<span></span> Copies'.html_safe,
                input_html: { class: ' form-control', spellcheck: true  },
                  readonly: cannot_modify_attribute?(:copies) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:rental_price) %>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :rental_price, label: '<span></span> Rental Price'.html_safe,
                input_html: { class: ' form-control', spellcheck: true  },
                  readonly: cannot_modify_attribute?(:rental_price) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:active) %>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="control-wrapper mvi-checkboxes">
                <%= f.input :active, label: '<span></span> Active'.html_safe,
                  as: :boolean,
                  input_html: { class: ' form-control text-left' },
                  readonly: cannot_modify_attribute?(:active) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- nested form code here -->
      <%= f.hidden_field :alt_list, value: @alt_list %>
    </div>
  </div>
  <!-- /- ibox body -->
</div>
