<% if @main_list_screen %>
  <!-- screen reference start -->
<% end %>
<div class="page-content <%= "#{controller.controller_name}_#{controller.action_name}" %>">
  <!-- content box -->
  <div class="ibox">
    <div class="ibox-header">
      <div class="mvi-ibox-title">
        <h3><%= "<i class='fa fa-fw fa-#{@icon}'></i>".html_safe if @icon.present? %> <%= @title %></h3>
      </div>
      <div class="mvi-ibox-buttons">
        <div class="ibox-tools">
          <!-- list actions start-->
          <!-- list actions end -->
          <% if can?(:create, MovieCopy) && @allow_create %>
            <% if @full_edit_create %>
              <%= link_to new_polymorphic_path([:admin, @movie, :movie_copy], alt_list: ''),
                            class: 'btn btn-add-new btn-new' do %>
                Add New
              <% end %>
            <% else %>
              <%= link_to '#', class: 'btn btn-new
              modal-btn',
                            data: {
                              'form-url' => new_polymorphic_path([:admin, @movie, :movie_copy], alt_list: ''),
                              
                     } do %>
                Add New
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% if @show_buttons %>
          <%= render partial: 'shared/mvi_control_buttons',
                     locals: { path: admin_movie_copies_path, table_name: 'movie_copies',
              xls: admin_movie_copies_path(format: :xls),
              csv: admin_movie_copies_path(format: :csv) } %>
        <% end %>
      </div>
    </div>
    <div class="ibox-body">
      <div class="ibox-filters">
        <div class="filters-inner mb20">
          <div class="row">
            <!-- Filter base start -->
            <!-- Filter base end -->
          </div>
        </div>
      </div>
      <div class="ibox-content pb20">
        <div class="table-responsive">
          <table class="table table-sm  table-striped table-hover  "
          
          
          id="quick-edit-movie_copy-table"
          >
            <thead>
              <tr>
                <!-- table headings here -->
                <% if can_access_attribute?(:format) %>              
                  <th class="text-left  " style="width: 30%">Format</th>
                <% end %>
                <% if can_access_attribute?(:rental_price) %>              
                  <th class="text-right  ">Rental Price</th>
                <% end %>
                <% if can_access_attribute?(:copies) %>              
                  <th class="text-right  ">Copies</th>
                <% end %>
                <% if can_access_attribute?(:on_hand) %>              
                  <th class="text-left  " style="width: auto">On Hand</th>
                <% end %>
                <% if can_access_attribute?(:active) %>              
                  <th class="text-left   minimal">Active</th>
                <% end %>
                <% if can?(:read, MovieCopy) %>
                  <th class="minimal"></th>
                <% end %>
              </tr>
            </thead>
            <tbody >
              <%= render movie_copies %>
              <!-- total row start -->
              <!-- total row end -->
            </tbody>
          </table>
          <div class="page-entry">
            <%= page_entries_info(@movie_copies) %>
          </div>
          <%= paginate(@movie_copies, remote: true) %>
        </div>
      </div>
    </div>
  </div>
  <!-- /- content box -->
</div>
